.page {
  min-width: 320px;
  height: 100%;
  font-family: $font-main;
  font-weight: normal;
  font-size: 14px;
  line-height: 18.2px;
  scroll-behavior: smooth;
}

.page__body {
  min-height: 100%;
  margin: 0;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
