// Font

$font-main: "Roboto", "Arial", sans-serif;
$font-filter: "Arial", sans-serif;

// Colors

$white: #ffffff;
$bg-gray: #f2f2f2;
$text-gray: #52575c;
$light-gray: #828282;
$border-gray: #cacccf;
$input-gray: #f9f9fa;
$shadow-gray: rgba(37, 40, 43, 0.15);
$black: #25282B;
$red: #eb4747;

// Viewports

$min-desktop-whidth: 768px;
$min-mobile-whidth: 320px;
$max-mobile-whidth: 767px;
